input{
    font-size: 14px !important;
}
.auth-form-section {
  background-color: #a9b7ca;
}
.auth-wrapper {
  background-color: #d2dddf;
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
.auth-form-btn {
  background-color: #003f91 !important;
  color: #fff;
  &:hover {
    background-color: #002c6e !important;
  }
}
