input{
    font-size: 14px!important;
}
button{
    font-size: 14px!important;
}

input{
    font-size: 14px!important;
}
button{
    font-size: 14px!important;
}

mat-label{
    font-size: 14px!important;

}