<section class="content">
  <div class="content-block">
    <div class="block-header">
      <!-- breadcrumb -->
      <app-breadcrumb [title]="'Dashboard'" [items]="['Inicio']" [active_item]="'Dashboard'"></app-breadcrumb>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="body">
            <div class="d-flex justify-content-center">
              <img src="assets/images/logo.jpg" class="img-fluid" alt="" />
            </div>
            <div class="p-4">
              <h4 class="text-center">BIENVENIDO AL SISTEMA</h4>

              <!-- GRÁFICOS APEX EN CUADRÍCULA -->
              <div class="dashboard-grid">

                <div class="card">
                  <apx-chart *ngIf="areaChartOptions"
                    [series]="areaChartOptions.series"
                    [chart]="areaChartOptions.chart"
                    [xaxis]="areaChartOptions.xaxis"
                    [stroke]="areaChartOptions.stroke"
                    [colors]="areaChartOptions.colors"
                    [dataLabels]="areaChartOptions.dataLabels"
                    [tooltip]="areaChartOptions.tooltip"
                    [legend]="areaChartOptions.legend"
                    [grid]="areaChartOptions.grid">
                  </apx-chart>
                </div>

                <div class="card">
                  <apx-chart *ngIf="barChartOptions"
                    [series]="barChartOptions.series"
                    [chart]="barChartOptions.chart"
                    [xaxis]="barChartOptions.xaxis"
                    [plotOptions]="barChartOptions.plotOptions"
                    [colors]="barChartOptions?.fill?.colors"
                    [dataLabels]="barChartOptions.dataLabels"
                    [tooltip]="barChartOptions.tooltip"
                    [grid]="barChartOptions.grid">
                  </apx-chart>
                </div>

                <div class="card">
                  <apx-chart *ngIf="earningOptions"
                    [series]="earningOptions.series"
                    [chart]="earningOptions.chart"
                    [xaxis]="earningOptions.xaxis"
                    [stroke]="earningOptions.stroke"
                    [colors]="earningOptions.colors"
                    [dataLabels]="earningOptions.dataLabels"
                    [tooltip]="earningOptions.tooltip"
                    [grid]="earningOptions.grid">
                  </apx-chart>
                </div>

                <div class="card">
                  <apx-chart *ngIf="performanceRateChartOptions"
                    [series]="performanceRateChartOptions.series"
                    [chart]="performanceRateChartOptions.chart"
                    [xaxis]="performanceRateChartOptions.xaxis"
                    [yaxis]="performanceRateChartOptions.yaxis"
                    [stroke]="performanceRateChartOptions.stroke"
                    [colors]="performanceRateChartOptions.colors"
                    [dataLabels]="performanceRateChartOptions.dataLabels"
                    [tooltip]="performanceRateChartOptions.tooltip"
                    [grid]="performanceRateChartOptions.grid">
                  </apx-chart>
                </div>

              </div>
              <!-- FIN GRÁFICOS -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
