<section class="content">
    <div class="content-block">
      <div class="block-header">
        <!-- breadcrumb -->
        <app-breadcrumb [title]="'Configuración'" [items]="['Inicio']" [active_item]="'Configuración'">
        </app-breadcrumb>
      </div>
      <!-- Your content goes here  -->
      <div class="row clearfix">
        <div class="col-lg-4 col-md-12">
          <div class="card">
            <div class="m-b-20">
              <div class="contact-grid">
                <div class="profile-header bg-dark">
                  <div class="user-name">{{data?.razon_social}}</div>
                  <div class="name-center">Somos arte libre</div>
                </div>
                <img src="assets/website/img/logo/logoART.png" class="user-img" alt="">
                <p class="ms-2 me-2"  >
                  {{data?.direccion}}
                </p>
                <div>
                  <span class="phone">
                    <i class="material-icons">phone</i>{{data?.telefono}}</span>
                </div>
              </div>
            </div>
          </div>  
        </div>
        <div class="col-lg-8 col-md-12">
          <div class="card">
            <mat-tab-group>         
              <mat-tab>
                <ng-template mat-tab-label>
                  <mat-icon class="example-tab-icon msr-2">settings</mat-icon>
                  Configuración
                </ng-template>
                <form action="" [formGroup]="form" (ngSubmit)="guardar(form.value)"  >
                  <div class="header">
                    <h2>
                      <strong>Configuración</strong> de Datos Empresariales</h2>
                  </div>
                  <div class="body">
                      <div class="row p-3 ">
                        <div class="col-md-12">
                          <mat-form-field class="example-full-width" appearance="fill">
                            <mat-label>Razón Social</mat-label>
                            <input matInput formControlName="razon_social" >
                          </mat-form-field>
                        </div>
                        <div class="col-md-12">
                          <mat-form-field class="example-full-width" appearance="fill">
                            <mat-label>Dirección</mat-label>
                            <input matInput formControlName="direccion" >
                          </mat-form-field>
                        </div>
                        <div class="col-md-12">
                          <mat-form-field class="example-full-width" appearance="fill">
                            <mat-label>Telefono</mat-label>
                            <input matInput formControlName="telefono" >
                          </mat-form-field>
                        </div>
                      </div>
                  </div>
                  <div class="header">
                    <h2>
                      Metodos de <strong>Pago</strong></h2>
                  </div>
                  <div class="body">
                    <div class="row p-3">
                      <div class="col-md-12">
                        <div class="form-group">
                          <mat-checkbox  formControlName="pago_bancario"  class="example-margin">Transferencia Bancaria
                          </mat-checkbox>
                        </div>
                        <div class="form-group">
                          <mat-checkbox formControlName="pago_qr" class="example-margin">Pago QR
                          </mat-checkbox>
                        </div>
                      </div>
                    </div>                    
                  </div>
                  <div class="header">
                    <h2><strong>Imagen</strong></h2>
                  </div>
                  <div class="body">
                    <div class="row p-3 ">
                        <div class="col-md-12">
                            <app-file-upload formControlName="file" titulo="Subir Imagen"
                            (foto)="agregarFoto($event)" ></app-file-upload>
                        </div>
                    </div>
                    <div class="row mt-3 p-3 ">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                          <div class="example-button-row">
                            <button  type="submit" [disabled]="!form.valid || loading"  [class.auth-spinner]="loading"   mat-raised-button color="primary" 
                            >Guardar</button>
                          </div>
                        </div>
                      </div>
                  </div>
                </form>
              </mat-tab>
            </mat-tab-group>
          </div>
        </div>
      </div>
    </div>
  </section>