<section class="content">
  <div class="content-block">
    <div class="block-header">
      <app-breadcrumb [title]="'Proformas'" [items]="['Inicio']" [active_item]="'Proformas'">
      </app-breadcrumb>
    </div>
    <div class="row clearfix">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
          <div class="header">
            <h2>
              <strong>Lista de</strong> Proformas</h2>
          </div>
          <head>
            <meta name="viewport" content="width=device-width, initial-scale=1">
          </head>
          <div class="body">
            <app-filters (dataLista)="listaProformas($event)" [type]="['fecha_inicio','fecha_fin','usuario']" ></app-filters>
            <div class="materialTableHeader">
              <div class="left">
                <ul class="header-buttons-left ms-0">
                  <li class="tbl-search-box">
                    <label for="search-input"><i class="material-icons search-icon">search</i></label>
                    <input placeholder="Buscador" type="text" (keyup)="applyFilters($event)" class="browser-default search-field"
                      aria-label="Search box">
                  </li>
                </ul>
                </div>
                <div class="right">
                  <ul class="tbl-export-btn">
                    <li class="tbl-header-btn">
                      <div class="m-l-10" matTooltip="ADD">
                        <button mat-raised-button color="primary" [routerLink]="'/dashboard/proformas/crear'">
                          <mat-icon class="col-white">add</mat-icon>
                          Nuevo Registro
                        </button>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            <div class="body table-responsive">
              <table mat-table [dataSource]="paginado" class="w-100">
                <ng-container matColumnDef="Nº">
                  <th mat-header-cell *matHeaderCellDef> Nº </th>
                  <td mat-cell *matCellDef="let i = index">
                    {{this.paginator.pageIndex === 0 ? i + 1 : 1 + i + this.paginator.pageIndex * this.paginator.pageSize}}
                  </td>
                </ng-container>
                <ng-container matColumnDef="Web">
                  <th mat-header-cell *matHeaderCellDef>  </th>
                  <td mat-cell *matCellDef="let element">
                      <mat-icon matTooltip="{{element.web==1?'Proformas Web':'Proformas Locales'}}"  >{{element.web==1?'public':'public_off'}}</mat-icon>
                  </td>
                </ng-container>
                    <ng-container matColumnDef="Usuario">
                      <th mat-header-cell *matHeaderCellDef> Vendedor</th>
                      <td mat-cell *matCellDef="let element"> {{element.usuario.nombre_completo}} </td>
                    </ng-container>
                    <ng-container matColumnDef="Cliente">
                      <th mat-header-cell *matHeaderCellDef> Cliente</th>
                      <td mat-cell *matCellDef="let element"> {{element.cliente.nombre_completo}} </td>
                    </ng-container>
                    <ng-container matColumnDef="Fecha-Registro">
                      <th mat-header-cell *matHeaderCellDef> Fecha Registro</th>
                      <td mat-cell *matCellDef="let element"> {{element.fecha_registro|date:'dd/MM/yyyy'}} </td>
                    </ng-container>
                    <ng-container matColumnDef="Total">
                    <th mat-header-cell *matHeaderCellDef> Total</th>
                    <td mat-cell *matCellDef="let element"> {{element.total}} </td>
                  </ng-container>
                    <ng-container matColumnDef="Acciones">
                      <th mat-header-cell *matHeaderCellDef> Acciones </th>
                      <td mat-cell *matCellDef="let element">
                        @if (element.activo !=0) {
                          <button mat-icon-button color="primary" class="me-1" [routerLink]="['/dashboard/proformas/editar/' ,element.id]" routerLinkActive="router-link-active">
                            <mat-icon matSuffix>mode</mat-icon>
                          </button>
                          <button mat-icon-button color="warn" (click)="delete(element.id)">
                            <mat-icon matSuffix>delete</mat-icon>
                          </button>
                        }
                        <button mat-icon-button *ngIf="element?.comprobante" style="color:rgb(20, 178, 231)" (click)="comprobante(element.id)">
                          <mat-icon matSuffix>preview</mat-icon>
                        </button>
                        <button mat-icon-button color="warn" (click)="imprimir(element.id)" class="pdf-button">
                          <mat-icon matSuffix>picture_as_pdf</mat-icon>
                        </button>
                      </td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="nombreColumnas"></tr>
                    <tr mat-row *matRowDef="let row; columns: nombreColumnas;"></tr>
                  </table>
                  <mat-paginator [pageSizeOptions]="[20, 10, 5]" showFirstLastButtons></mat-paginator>
                </div>
              </div>
            </div>
          </div>
          </div>

      </div>
    </section>

