<section class="breadcrumb__area include-bg text-center pt-95 pb-50">
    <div class="container">
       <div class="row">
          <div class="col-xxl-12">
             <div class="breadcrumb__content p-relative z-index-1">
                <h3 class="breadcrumb__title">Mantente contactado con nosotros</h3>
                <div class="breadcrumb__list">
                   <span><a href="#">Inicio</a></span>
                   <span>Contacto</span>
                </div>
             </div>
          </div>
       </div>
    </div>
  </section>
  <!-- breadcrumb area end -->
  <section class="tp-contact-area pb-100">
   <div class="container">
      <div class="tp-contact-inner">
         <div class="row">
            <div class="col-xl-9 col-lg-8">
               <div class="tp-contact-wrapper">
                  <h3 class="tp-contact-title">Envianos un Mensaje</h3>
 
                  <div class="tp-contact-form">
                     <!-- contact form start -->
                     <app-contact-form></app-contact-form>
                     <!-- contact form end -->
                     <p class="ajax-response"></p>
                  </div>
               </div>
            </div>
            <div class="col-xl-3 col-lg-4">
               <div class="tp-contact-info-wrapper">
                  <div class="tp-contact-info-item">
                     <div class="tp-contact-info-icon">
                        <span>
                           <img src="assets/website/img/contact/contact-icon-1.png" alt="">
                        </span>
                     </div>
                     <div class="tp-contact-info-content">
                        <p data-info="mail"><a href="mailto:contact@shofy.com"> {{correo}}</a></p>
                        <p data-info="phone"><a href="https://api.whatsapp.com/send/?phone=59179353369&text&type=phone_number&app_absent=0" target="_blank" >(+591) 75607433</a></p>
                     </div>
                  </div>
                  <div class="tp-contact-info-item">
                     <div class="tp-contact-info-icon">
                        <span>
                           <img src="assets/website/img/contact/contact-icon-2.png" alt="">
                        </span>
                     </div>
                     <div class="tp-contact-info-content">
                        <p>
                           <a href="https://www.google.com/maps/place/New+York,+NY,+USA/@40.6976637,-74.1197638,11z/data=!3m1!4b1!4m6!3m5!1s0x89c24fa5d33f083b:0xc80b8f06e177fe62!8m2!3d40.7127753!4d-74.0059728!16zL20vMDJfMjg2" target="_blank">
                             La Paz

                           </a>
                        </p>
                     </div>
                  </div>
                  <div class="tp-contact-info-item">
                     <div class="tp-contact-info-icon">
                        <span>
                           <img src="assets/website/img/contact/contact-icon-3.png" alt="">
                        </span>
                     </div>
                     <div class="tp-contact-info-content">
                        <div class="tp-contact-social-wrapper mt-5">
                           <h4 class="tp-contact-social-title">Redes Sociales</h4>
 
                           <div class="tp-contact-social-icon">
                              <a href="https://www.facebook.com/intecsa" target="_blank" ><i class="fa-brands fa-facebook-f"></i></a>
                              <a href="https://www.instagram.com/intecsa" target="_blank" ><i class="fa-brands fa-instagram"></i></a>
                              <!-- <a href="#"><i class="fa-brands fa-linkedin-in"></i></a> -->
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
 </section>
  <!-- contact area start -->
 