<div class="chatbot-container" [ngClass]="{'open': isOpen}">
    <div class="chatbot-header">
      <h5>Chatbot</h5>
      <button (click)="toggleChatbot()" class="close-btn">&times;</button>
    </div>
    <div class="chatbot-body" id="chat-box">
      <div *ngFor="let message of messages">
        <div [ngClass]="{'user-message': message.isUser, 'bot-message': !message.isUser}">
          <strong>{{ message.isUser ? 'Usuario' : 'Bot' }}:</strong> 
          <span [innerHTML]="message.text"></span> <!-- Aquí se renderiza el mensaje con HTML -->
        </div>
      </div>
    </div>
    
    <div class="chatbot-footer">
      <form (ngSubmit)="sendMessage()" #chatForm="ngForm">
        <input type="text" [(ngModel)]="message" name="message" class="form-control" placeholder="Escribe tu mensaje..." required>
        <button class="btn btn-primary" type="submit">Enviar</button>
      </form>
    </div>
  </div>
  <button class="chatbot-toggle-btn" (click)="toggleChatbot()">Chat</button>
  