<section class="tp-about-area pb-80 pt-95">
  <div class="container">
     <div class="row">
        <div class="col-xl-8 col-lg-10">
           <div class="tp-about-banner-wrapper">
              <span class="tp-about-banner-subtitle">INTECSA</span>
              <h3 class="tp-about-banner-title">SOMOS EMPRESA INFORMÁTICA</h3>
           </div>
        </div>
     </div>
     <!-- <div class="row"> -->
        <!-- <div class="col-xl-12">
           <div class="tp-about-banner-thumb w-img">
              <img src="/assets/website/img/about/about-big-1.jpg" alt="">
           </div>
        </div>
     </div> -->
     <div class="row">
        <div class="col-xl-12">
         <div class="tp-about-banner-content">
            <p>
              En Intecsa nos importa el buen funcionamiento de su sistema informático, por lo que nos ponemos a su entera disposición para ofrecerle un servicio de mantenimiento informático y seguridad de hardware y software para que el trabajo de su empresa esté al día, sea eficaz, productiva y sin tener interrupciones.
            </p>
            <p>
              Ofrecemos:
            </p>
            <ul>
              <li>
                <p>
                  Tenemos el plan apropiado para tu oficina o empresa asistiendo de manera remota o asistencia en sitio, para poder solucionar los problemas que puedan tener de una manera rápida y eficaz.
                </p>
              </li>
              <li>
                <p>
                  El soporte remoto es a pedido y con el consentimiento del cliente, permite realizar una revisión y administración de los sistemas para encontrar soluciones sencillas y transparentes.
                </p>
              </li>
              <li>
                <p>
                  El soporte en sitio permite que nos desplacemos hasta las instalaciones de su oficina o empresa, en un plazo de tiempo rápido para proporcionar una solución inmediata y eficaz.
                </p>
              </li>
              <li>
                <p>
                  Para lo cual contamos con personal capacitado y una amplia experiencia y así ofrecer una respuesta rápida y eficaz ya que cuentas con los conocimientos necesarios y herramientas apropiadas para poder realizar el mantenimiento en empresas grandes, medianas, pequeñas u oficinas.
                </p>
              </li>
              <li>
                <p>
                  Nosotros nos encargamos por completo de todos los equipos informáticos de la empresa, ordenadores, impresoras, redes, cámaras de seguridad y más para asegurar el correcto funcionamiento de todos sus equipos.
                </p>
              </li>
            </ul>
          </div>
          
        </div>
     </div>
  </div>
</section>

